.form__fieldset {
  position: relative;

  @include zero-margin-padding;
  margin-bottom: 24px;
  border: none;

  &::after {
    position: absolute;
    z-index: -1;
    content: "";
    top: -45px;
    right: 0;
    width: 50%;
    height: 2px;
    background-color: $basic-green;
  }

  &:first-child {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 26px;

    @media (min-width: $desktop-width) {
      flex-direction: row;
      justify-content: space-between;
    }

    & ul {
      @media (min-width: $desktop-width) {
        flex-grow: 1;
      }
    }

    &::after {
      display: none;
    }
  }

  &:nth-child(2) {
    &::after {
      top: 14px;
    }
  }

  &-wrapper-contacts {
    &::after {
      position: absolute;
      z-index: -1;
      content: "";
      top: 14px;
      right: 0;
      width: 50%;
      height: 2px;
      background-color: $basic-green;
    }
  }

  &:last-child {
    margin-bottom: 41px;
  }
}

.form__text {
  @include zero-style-list;
  font-size: 14px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    @include font-size-line-height(20px, 30px);
  }

  &--top {
    margin-bottom: 39px;
    padding: 0 20px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      margin-bottom: 66px;
    }

    @media (min-width: $desktop-width) {
      flex-basis: 100%;
    }
  }
}

.form__list {
  position: relative;

  @include zero-style-list;
  padding: 0 20px;

  &--data-cat {
    padding-bottom: 24px;

    & > li:last-child {
      @media (min-width: $desktop-width) {
        margin-bottom: 0;
      }
    }
  }

  &--radio {
    padding: 24px 20px;

    @media (min-width: $tablet-width) {
      padding: 25px 0 30px;
      border: 1px solid $border-second-grey;
    }

    @media (min-width: $desktop-width) {
      margin-left: 80px;
    }
  }

  &--data-cat::after,
  &--radio::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $border-grey;
  }

  &--contacts {
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop-width) {
      flex-direction: row;
    }

    & li {
      @media (min-width: $desktop-width) {
        flex-grow: 1;
      }
    }

    & li:first-child {
      @media (min-width: $desktop-width) {
        margin-right: 80px;
      }
    }
  }
}

.form__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--radio,
  &--checkbox {
    justify-content: start;
    margin-bottom: 25px;
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      flex-basis: 50%;
    }

    @media (min-width: $desktop-width) {
      flex-basis: 25%;
    }
  }
}

.form__label,
.form__input,
.form__input::-webkit-input-placeholder,
.form__textarea {
  @include font-size-line-height(16px, 18px);
  color: $text-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-size-line-height(20px, 30px);
  }
}

.form__label {
  margin-right: 13px;

  &--radio {
    padding-left: 44px;
    color: $text-second-grey;

    @media (min-width: $tablet-width) {
      margin: 0;
      padding-left: 80px;
    }
  }

  &--checkbox {
    padding-left: 44px;
    color: $basic-dark;
  }
}

.form__label--radio,
.form__label--checkbox {
  &::before {
    position: absolute;
    box-sizing: border-box;
    content: "";
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $border-input-hover;
  }
}

.form__label--radio:hover,
.form__label--checkbox:hover,
.form__label--radio:focus,
.form__label--checkbox:focus {
  &::before {
    border: 1px solid $border-radio-hover;
  }
}

.form__label--radio::before {
  top: -6px;
  border-radius: 50%;
}

.form__label--checkbox::before {
  top: -6px;
}

.form__input--radio {
  &:checked {
    & + label::after {
      position: absolute;
      box-sizing: border-box;
      content: "";
      top: 3px;
      left: 9px;
      width: 12px;
      height: 12px;
      background-color: $basic-green;
      border-radius: 50%;
    }
  }
}

.form__input--checkbox {
  &:checked {
    & + label::after {
      position: absolute;
      box-sizing: border-box;
      content: "";
      left: 5px;
      top: 2px;
      width: 30px;
      height: 30px;
      background: url("../img/form/icon-check-mark.svg") no-repeat;
    }
  }
}

.form__input {
  position: relative;
  flex-grow: 1;
  padding: 12px 13px;
  outline: none;
  border: 1px solid $border-second-grey;

  &--radio,
  &--checkbox {
    flex-grow: 0;
    margin-bottom: 0;

    &:disabled + label {
      opacity: 0.3;
    }
  }

  &:invalid {
    border: 2px solid $border-input-error;
  }

  &:hover,
  &:active {
    border: 1px solid $border-input-hover;
  }

  &:focus {
    border: 2px solid $text-grey;
  }
}

.form__input-icon {
  position: absolute;
  content: "";
  width: 20px;

  &--email {
    top: 16px;
    right: 16px;
    height: 14px;
  }

  &--phone {
    top: 13px;
    right: 12px;
    height: 20px;
  }
}

.form__legend {
  display: inline-block;
  z-index: 2;
  max-width: 215px;
  margin-bottom: 35px;
  padding: 0 14px 0 20px;

  @include font-size-line-height(24px, 26px);
  font-weight: 400;
  background-color: $basik-light;

  &--middle {
    & + ul {
      @media (min-width: $tablet-width) {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

.form__textarea-wrapper {
  padding: 0 20px;
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding: 10px 12px 10px 15px;
  outline: none;
  border: 1px solid $border-second-grey;

  @media (min-width: $tablet-width) {
    padding: 10px 20px;
  }

  &:hover,
  &:active {
    border: 1px solid $border-input-hover;
  }

  &:focus {
    border: 2px solid $text-grey;
  }
}

.form__wrapper {
  margin-bottom: 32px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.form__button {
  @media (min-width: $tablet-width) {
    flex-basis: 45%;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 60px;
  }
}

.form__text--down {
  @media (min-width: $tablet-width) {
    flex-basis: 41%;
    text-align: left;
  }
}
