.form__fieldset {
  @include zero-margin-padding;
  padding: 20px 0 20px;
  border: none;

  &:first-child {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    padding-bottom: 20px;

    @media (min-width: $desktop-width) {
      flex-direction: row;
      justify-content: space-between;
    }

    & ul {
      @media (min-width: $desktop-width) {
        flex-grow: 1;
      }
    }
  }
}

.form__text {
  @include zero-style-list;
  font-size: 14px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    @include font-size-line-height(20px, 30px);
  }

  &--top {
    margin-bottom: 39px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      margin-bottom: 66px;
    }

    @media (min-width: $desktop-width) {
      flex-basis: 100%;
    }
  }
}

.form__list {
  @include zero-style-list;

  &--data-cat {
    & > li:last-child {
      @media (min-width: $desktop-width) {
        margin-bottom: 0;
      }
    }
  }

  &--radio {
    @media (min-width: $tablet-width) {
      padding: 25px 0 30px;
      border: 1px solid $border-second-grey;
    }

    @media (min-width: $desktop-width) {
      margin-left: 80px;
    }
  }

  &--contacts {
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop-width) {
      flex-direction: row;
    }

    & li {
      @media (min-width: $desktop-width) {
        flex-grow: 1;
      }
    }

    & li:first-child {
      @media (min-width: $desktop-width) {
        margin-right: 80px;
      }
    }
  }
}

.form__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  &--radio,
  &--checkbox {
    justify-content: start;
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      flex-basis: 50%;
    }

    @media (min-width: $desktop-width) {
      flex-basis: 25%;
    }
  }
}

.form__label,
.form__input,
.form__input::-webkit-input-placeholder,
.form__textarea {
  @include font-size-line-height(16px, 18px);
  color: $text-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-size-line-height(20px, 30px);
  }
}

.form__input {
  flex-grow: 1;
  padding: 14px 15px;

  &--radio,
  &--checkbox {
    flex-grow: 0;
    margin-bottom: 0;
  }
}

.form__label {
  margin-right: 13px;

  &--radio {
    padding-left: 44px;
    color: $text-second-grey;

    @media (min-width: $tablet-width) {
      margin: 0;
      padding-left: 80px;
    }
  }

  &--checkbox {
    padding-left: 44px;
    color: $basic-dark;
  }
}

.form__legend {
  margin-bottom: 35px;

  @include font-size-line-height(24px, 26px);
  font-weight: 400;

  &--middle {
    & + ul {
      @media (min-width: $tablet-width) {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding: 10px 15px;
  border: 1px solid $border-second-grey;

  @media (min-width: $tablet-width) {
    padding: 10px 20px;
  }
}

.form__wrapper {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.form__button {
  @media (min-width: $tablet-width) {
    flex-basis: 45%;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 60px;
  }
}

.form__text--down {
  @media (min-width: $tablet-width) {
    flex-basis: 41%;
    text-align: left;
  }
}
