.selection-program {
  @media (min-width: $tablet-width) {
    padding-right: 37px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.selection-program__title {
  @include zero-margin-padding;
  padding: 27px 20px 37px;

  @include font-size-line-height(36px, 36px);
  font-weight: 400;

  @media (min-width: $tablet-width) {
    padding: 64px 0 54px;

    @include font-size-line-height(60px, 60px);
  }
}

.selection-program__text {
  margin: 0;
  padding: 21px 0 0;
  text-align: center;
}
