.button {
  display: block;
  padding: 10px 0;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &--main {
    @include font-size-line-height(14px, 18px);

    @media (min-width: $tablet-width) {
      padding: 16px 0;

      @include font-size-line-height(20px, 20px);
    }

    @media (min-width: $desktop-width) {
      padding: 16px 0;
    }
  }

  &--catalog,
  &--form {
    @include font-size-line-height(16px, 20px);
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      width: 248px;
    }

    @media (min-width: $desktop-width) {
      width: 168px;
    }
  }

  &--form {
    width: 100%;
    border: none;
    cursor: pointer;
  }

  &--green {
    color: $basik-light;
    background-color: $basic-green;

    &:hover,
    &:focus {
      background-color: $hover-green;
    }

    &:active {
      color: $light-transparent;
    }
  }

  &--grey {
    color: $text-grey;
    background-color: $background-grey;

    &:hover,
    &:focus {
      background-color: $border-special-grey;
    }

    &:active {
      color: $grey-transparent;
    }
  }
}
