.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-top: -6px;
    margin-right: 2px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.developer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include zero-margin-padding;
  text-decoration: none;
  color: $hover-svg;

  &:hover,
  &:focus {
    color: $basic-green;
  }

  &:active {
    color: $basic-green;
    opacity: 0.3;
  }
}

.developer__name {
  @include zero-margin-padding;
  font-family: "Arial", sans-serif;

  @include font-size-line-height(16px, 18px);
  color: $text-grey;

  @media (min-width: $tablet-width) {
    margin-right: 22px;

    &:last-child {
      margin-right: 0;
    }
  }
}
