.form__fieldset {
  position: relative;

  @include zero-margin-padding;
  margin-bottom: 24px;
  border: none;

  &::after {
    position: absolute;
    z-index: -1;
    content: "";
    top: 14px;
    right: 0;
    width: 50%;
    height: 2px;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      width: 100%;
      top: 24px;
    }

    @media (min-width: $desktop-width) {
      top: 20px;
    }
  }

  &:first-child {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 26px;

    @media (min-width: $tablet-width) {
      margin-bottom: 71px;
    }

    @media (min-width: $desktop-width) {
      width: 1220px;
      margin: 0 auto 69px;
      padding: 0;
      flex-direction: row;
      justify-content: space-between;
    }

    & ul {
      @media (min-width: $desktop-width) {
        flex-grow: 1;
      }
    }

    &::after {
      display: none;
    }
  }

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      margin-bottom: 22px;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 65px;
    }

    &::after {
      top: 14px;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  &-wrapper-contacts {
    margin: 0;
    padding: 0;
    border: none;

    &::after {
      position: absolute;
      z-index: -1;
      content: "";
      top: 14px;
      right: 0;
      width: 50%;
      height: 2px;
      background-color: $basic-green;

      @media (min-width: $tablet-width) {
        width: 100%;
        top: 24px;
      }

      @media (min-width: $desktop-width) {
        top: 20px;
      }
    }

    @media (min-width: $tablet-width) {
      padding: 0 30px;
    }

    @media (min-width: $desktop-width) {
      width: 1300px;
      margin: 0 auto;
    }
  }

  &-wrapper-comment,
  &-wrapper-add {
    margin: 0;
    padding: 0;
    border: none;

    & > legend {
      max-width: 142px;
    }

    @media (min-width: $tablet-width) {
      & > legend {
        max-width: 262px;
      }
    }

    @media (min-width: $desktop-width) {
      width: 1300px;
      margin: 0 auto;

      & > legend {
        max-width: 262px;
      }
    }
  }

  &-wrapper-add {
    & > legend {
      max-width: 176px;
    }

    @media (min-width: $tablet-width) {
      & > legend {
        max-width: 292px;
      }
    }

    @media (min-width: $desktop-width) {
      & > legend {
        max-width: 292px;
      }

      & > ul {
        padding: 0 40px 65px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    padding: 0 30px;
  }

  &--last {
    margin-bottom: 39px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }

    & > ul {
      @media (min-width: $tablet-width) {
        padding: 0 41px;
      }
    }

    &::after {
      top: 15px;

      @media (min-width: $tablet-width) {
        top: 23px;
      }
    }
  }

  &--comment {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 61px;
    }
  }
}

.form__text {
  @include zero-style-list;
  font-size: 14px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    @include font-size-line-height(20px, 30px);
  }

  &--top {
    margin-bottom: 40px;
    padding: 0 20px;
    line-height: 18px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      margin-bottom: 66px;
      padding: 0 66px 0 71px;
      line-height: 28px;
    }

    @media (min-width: $desktop-width) {
      flex-basis: 100%;
      width: 1220px;
      margin: 0 auto 68px;
    }
  }

  &--down {
    font-family: "Arial", sans-serif;

    @include font-size-line-height(14px, 16px);

    @media (min-width: $tablet-width) {
      flex-basis: 41%;
      text-align: left;
      font-size: 16px;
    }
  }
}

.form__list {
  position: relative;

  @include zero-style-list;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 40px 21px 40px;
  }

  &--data-cat {
    padding-bottom: 24px;

    & > li:last-child {
      @media (min-width: $desktop-width) {
        margin-bottom: 0;
      }
    }

    @media (min-width: $tablet-width) {
      padding: 0 67px 30px 71px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 0;
    }
  }

  &--radio {
    padding: 29px 20px 24px;

    @media (min-width: $tablet-width) {
      margin: 0 67px 0 71px;
      padding: 30px 30px 30px 27px;
      border: 1px solid $border-second-grey;
    }

    @media (min-width: $desktop-width) {
      margin-left: 6px;
    }
  }

  &--data-cat::after,
  &--radio::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $border-grey;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--contacts {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      padding: 0 37px 0 41px;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
    }

    & li {
      @media (min-width: $desktop-width) {
        flex-grow: 1;
        margin: 0;
      }
    }

    & li:first-child {
      @media (min-width: $desktop-width) {
        margin-right: 80px;
      }

      @media (min-width: $desktop-width) {
        margin-right: 90px;
      }
    }
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      width: 97%;
    }
  }
}

.form__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
  }

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  &--radio,
  &--checkbox {
    justify-content: start;
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 23px;
    }
  }

  &--radio {
    &:last-child {
      @media (min-width: $tablet-width) {
        margin-bottom: 0;
      }
    }
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      flex-basis: 50%;
      margin: 0;
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      flex-basis: 221px;
      margin-bottom: 0;
      margin-right: 104px;

      &:first-child {
        margin-right: 88px;
      }
    }
  }
}

.form__label,
.form__input,
.form__input::-webkit-input-placeholder,
.form__textarea {
  @include font-size-line-height(16px, 18px);
  color: $text-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-size-line-height(20px, 30px);
  }
}

.form__label {
  margin-right: 14px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-right: 18px;
  }

  &--radio {
    padding-left: 46px;
    color: $text-second-grey;

    @media (min-width: $tablet-width) {
      margin: 0;
      padding-left: 60px;
    }
  }

  &--checkbox {
    padding-left: 47px;
    color: $basic-dark;

    @media (min-width: $tablet-width) {
      padding-left: 59px;
    }
  }

  &--email {
    margin-right: 11px;

    @media (min-width: $tablet-width) {
      margin-right: 18px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 21px;
    }
  }

  &--phone {
    margin-right: 9px;

    @media (min-width: $tablet-width) {
      margin-right: 13px;
    }
  }
}

.form__label--radio,
.form__label--checkbox {
  &::before {
    position: absolute;
    box-sizing: border-box;
    content: "";
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $border-input-hover;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }
}

.form__label--radio:hover,
.form__label--checkbox:hover,
.form__label--radio:focus,
.form__label--checkbox:focus {
  &::before {
    border: 1px solid $border-radio-hover;
  }
}

.form__label--radio::before {
  top: -6px;
  border-radius: 50%;
}

.form__label--checkbox::before {
  top: -6px;

  @media (min-width: $tablet-width) {
    top: -4;
  }
}

.form__input--radio {
  &:checked {
    & + label::after {
      position: absolute;
      box-sizing: border-box;
      content: "";
      top: 3px;
      left: 9px;
      width: 12px;
      height: 12px;
      background-color: $basic-green;
      border-radius: 50%;

      @media (min-width: $tablet-width) {
        top: 5px;
        left: 11px;
        width: 18px;
        height: 18px;
      }
    }
  }
}

.form__input--checkbox {
  &:checked {
    & + label::after {
      position: absolute;
      box-sizing: border-box;
      content: "";
      left: 5px;
      top: 2px;
      width: 30px;
      height: 30px;
      background: url("../img/form/icon-check-mark.svg") no-repeat;

      @media (min-width: $tablet-width) {
        top: 2px;
        left: 7px;
        width: 40px;
        height: 40px;
        background: url("../img/form/icon-check-mark-big.svg") no-repeat;
      }
    }
  }
}

.form__input {
  position: relative;
  flex-grow: 1;
  padding: 12px 15px;
  outline: none;
  border: 1px solid $border-second-grey;

  @media (min-width: $tablet-width) {
    padding-right: 18px;
  }

  &--radio,
  &--checkbox {
    flex-grow: 0;
    margin-bottom: 0;

    &:disabled + label {
      opacity: 0.3;
    }
  }

  &:invalid {
    padding: 11px 14px;
    border: 2px solid $border-input-error;
  }

  &:hover,
  &:active {
    padding: 12px 15px;
    border: 1px solid $border-input-hover;

    @media (min-width: $desktop-width) {
      padding-right: 18px;
    }
  }

  &:focus {
    padding: 11px 14px;
    border: 2px solid $text-grey;

    @media (min-width: $desktop-width) {
      padding-right: 17px;
    }
  }

  &--email {
    padding-left: 14px;

    &:hover,
    &:active {
      padding-left: 14px;

      @media (min-width: $tablet-width) {
        padding-left: 20px;
        padding-top: 9px;
      }

      @media (min-width: $desktop-width) {
        padding-left: 17px;
        padding-right: 18px;
      }
    }

    &:focus {
      padding: 11px 13px;

      @media (min-width: $tablet-width) {
        padding-left: 19px;
        padding-top: 8px;
      }

      @media (min-width: $desktop-width) {
        padding-left: 16px;
        padding-right: 17px;
      }
    }

    @media (min-width: $tablet-width) {
      padding-left: 20px;
      padding-top: 9px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 17px;
    }
  }

  &--phone {
    @media (min-width: $tablet-width) {
      padding-left: 19px;

      &:hover {
        padding-left: 19px;
      }

      &:focus,
      &:invalid {
        padding-left: 19px;
        padding-right: 18px;
      }
    }

    @media (min-width: $desktop-width) {
      &:hover,
      &:active {
        padding-left: 19px;
        padding-right: 18px;
      }

      &:focus,
      &:invalid {
        padding-left: 18px;
        padding-right: 17px;
      }
    }
  }
}

.form__input--email:focus + .form__input-icon--email,
.form__input--phone:focus + .form__input-icon--phone {
  color: $basic-green;
}

.form__input--email:invalid + .form__input-icon--email,
.form__input--phone:invalid + .form__input-icon--phone {
  color: $border-input-error;
}

.form__input-icon {
  position: absolute;
  content: "";
  width: 20px;

  &--email {
    top: 16px;
    right: 16px;
    height: 14px;

    @media (min-width: $desktop-width) {
      top: 21px;
      right: 8px;
    }
  }

  &--phone {
    top: 13px;
    right: 12px;
    height: 20px;

    @media (min-width: $tablet-width) {
      top: 19px;
      right: 17px;
    }
  }
}

.form__legend {
  display: inline-block;
  z-index: 2;
  max-width: 221px;
  margin-bottom: 35px;
  padding: 0 14px 0 20px;

  @include font-size-line-height(24px, 26px);
  font-weight: 400;
  background-color: $basik-light;

  @media (min-width: $tablet-width) {
    max-width: 600px;
    margin-bottom: 76px;
    padding: 0 42px 0 39px;

    @include font-size-line-height(36px, 36px);
  }

  &--middle {
    @media (min-width: $tablet-width) {
      margin-bottom: 62px;

      &:first-child {
        margin-bottom: 78px;
      }
    }

    & + ul {
      @media (min-width: $tablet-width) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    @media (min-width: $desktop-width) {
      &:first-child {
        margin-bottom: 75px;
      }
    }
  }

  &--middle-add {
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      &:first-child {
        margin-bottom: 64px;
      }
    }
  }
}

.form__textarea-wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 41px;
  }
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 154px;
  padding: 12px 12px 10px 15px;
  outline: none;
  border: 1px solid $border-second-grey;

  @media (min-width: $tablet-width) {
    height: 174px;
    padding: 10px 16px;
  }

  &:hover,
  &:active {
    border: 1px solid $border-input-hover;
  }

  &:focus {
    padding: 11px 11px 9px 14px;
    border: 2px solid $text-grey;

    @media (min-width: $tablet-width) {
      padding: 9px 15px;
    }
  }
}

.form__wrapper {
  margin-bottom: 35px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 68px;
    padding: 0 71px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 78px;
  }

  & button {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.form__button {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    flex-basis: 45%;
    margin-right: 61px;
    padding: 26px 45px;

    @include font-size-line-height(20px, 0);
  }

  @media (min-width: $desktop-width) {
    flex-basis: 47%;
    margin-right: 77px;
  }
}
