.page-main__wrapper {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.page-main__title {
  align-self: center;

  font-weight: 400;
}
