.select-program {
  position: relative;
  margin-bottom: 22px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 678px;
    margin: 0 auto;
    padding-left: 90px;
  }

  @media (min-width: $desktop-width) {
    width: 1140px;
    padding-left: 80px;
    margin-bottom: 158px;
  }
}

.select-program__wrapper {
  height: 298px;
  padding: 2px 0;
  background-color: $background-green;
  color: $basik-light;

  @media (min-width: $tablet-width) {
    width: 414px;
    height: 181px;
    margin-bottom: 50px;
    color: $basic-dark;
    background-color: $basik-light;
  }
}

.select-program__container-cat-green {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: linear-gradient(to top, $background-green, $background-green), url("../img/background@1044.jpg") no-repeat 65%/163%;

  @media (min-width: $tablet-width) {
    width: inherit;
    margin: 0;
    text-align: left;
    background: $basik-light;
  }
}

.select-program__title {
  width: 280px;
  margin: 0 auto;
  padding: 27px 0 25px;

  @include font-size-line-height(36px, 36px);
  font-weight: 400;
  text-transform: none;

  @media (min-width: $tablet-width) {
    width: 414px;
    padding-top: 0;

    @include font-size-line-height(60px, 60px);
  }
}

.select-program__slogan {
  margin: 0;

  @include font-size-line-height(14px, 14px);

  @media (min-width: $tablet-width) {
    @include font-size-line-height(20px, 20px);
  }
}

.select-program__image {
  width: 280px;
  height: 270px;
  margin-top: -135px;

  @media (min-width: $tablet-width) {
    z-index: -1;
    order: 3;
    width: 709px;
    height: 609px;
    margin-top: -45px;
    margin-left: -85px;
  }

  @media (min-width: $desktop-width) {
    z-index: 0;
    width: 552px;
    height: 499px;
    margin: -320px 330px 0 368px;
  }
}

.select-program__wrapper-button {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 225px;
    width: 244px;
    padding: 0;
    text-align: left;
  }
}
