.slider__list {
  position: relative;

  @include zero-style-list;
  margin-bottom: 27px;
  text-align: center;

  @media (min-width: $tablet-width) {
    height: 520px;
    width: 708px;
    margin: 0 auto 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.slider__item {
  @media (min-width: $tablet-width) {
    &--before {
      margin-top: -170px;
    }
  }
}

.slider__toggles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 205px;
  margin: 0 auto;
  padding-left: 14px;
  padding-top: 1px;

  @media (min-width: $tablet-width) {
    justify-content: center;
    width: 100%;
    margin: 0;
    padding-left: 0;
  }
}

.slider__toggle {
  position: relative;

  @include zero-style-list;
  line-height: 20px;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    @include font-size-line-height(20px, 30px);

    &::after {
      position: absolute;
      content: "";
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 1px;
      border-bottom: 1px dotted $basic-dark;
      opacity: 0.4;
    }

    &:hover,
    &:focus {
      &::after {
        border-bottom: 1px solid $basic-dark;
        opacity: 0.4;
      }
    }

    &:active {
      &::after {
        display: none;
      }
    }
  }

  &:nth-child(1) {
    margin-right: 17px;

    @media (min-width: $tablet-width) {
      margin-right: 24px;
    }
  }

  &:nth-child(2) {
    order: 3;
  }
}

.slider__image {
  width: 311px;
  height: 232px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    margin: 0 auto;
    width: 708px;
    height: 518px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    bottom: 30px;
    width: 690px;
    margin: 0 auto -6px -18px;
  }

  &--before {
    @media (min-width: $tablet-width) {
      left: 5px;
      clip: rect(auto, 353px, auto, auto);
    }

    @media (min-width: $desktop-width) {
      left: -1px;
      clip: rect(auto, 365px, auto, auto);
    }
  }

  &--after {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      left: 27px;
      clip: rect(auto, auto, auto, 328px);
    }

    @media (min-width: $desktop-width) {
      left: 14px;
      clip: rect(auto, auto, auto, 350px);
    }
  }
}
