.surprice {
  position: relative;
  margin: 0 20px;
  margin-bottom: 35px;
  background: $background-green url("../img/catalog/surprice.png") no-repeat 0 55%/100%;

  @media (min-width: $tablet-width) {
    margin: 0 30px 76px;
    background: $background-green url("../img/catalog/surprice.png") no-repeat 0 62%/100%;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 245px;
    flex-grow: 0;
    margin: 0;
    background: $background-green url("../img/catalog/surprice_big.png") no-repeat 0 55%/100%;
    background-size: cover;
  }
}

.surprice__text {
  @include zero-margin-padding;
  padding: 186px 61px 43px 58px;
  font-family: "Arial", sans-serif;

  @include font-size-line-height(16px, 20px);
  color: $basik-light;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 165px;
    padding: 71px 124px 69px 422px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    width: 245px;
    padding: 185px 43px 43px 41px;
    text-align: center;
  }

  &::before {
    position: absolute;
    content: "";
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
    width: 78px;
    height: 80px;
    background: url("../img/catalog/icon_surprice.svg") no-repeat;

    @media (min-width: $tablet-width) {
      left: 77px;
      transform: translateX(0);
    }
  }
}
