$basic-dark: #000000;
$second-dark: #111111;
$basik-light: #ffffff;
$background-grey: #f2f2f2;
$background-second-grey: #eaeaea;
$text-grey: #444444;
$text-second-grey: #222222;
$border-grey: #d9d9d9;
$border-second-grey: #e7e7e7;
$border-special-grey: #ebebeb;
$border-nav-grey: #e6e6e6;
$border-input-hover: #cdcdcd;
$border-input-error: #ff8282;
$border-radio-hover: #bababa;
$basic-green: #68b73b;
$background-green: rgba(104, 183, 56, 0.85);
$hover-green: #5eaa2f;
$hover-svg: #666666;
$grey-plus: #d3d3d3;
$grey-progress-line: #dcdcdc;
$shadow-button: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
$shadow-button-hover: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
$shadow-button-presed: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
$light-transparent: rgba(255, 255, 255, 0.3);
$grey-transparent: rgba(68, 68, 68, 0.3);

$tablet-width: 768px;
$desktop-width: 1335px;
$laptop-width: 992px;
$mobile-width-only: 767px;
$desktop-width-only: 1334px;
