.additional-products {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding: 26px 38px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 896px;
    padding: 0;
  }
}

.additional-products__title {
  @include zero-margin-padding;
  margin-bottom: 36px;

  @include font-size-line-height(24px, 24px);
  font-weight: 400;

  @media (min-width: $tablet-width) {
    @include font-size-line-height(36px, 36px);
    margin-bottom: 80px;
  }
}

.additional-products__list {
  @include zero-style-list;
}
