.product-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
  }

  &:last-child {
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.product-card__title {
  @include zero-margin-padding;
  padding: 13px 0;

  @include font-size-line-height(16px, 16px);
  font-weight: 400;
  text-transform: uppercase;
  color: $text-second-grey;

  @media (min-width: $tablet-width) {
    padding: 25px 0;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 250px;
  }
}

.product-card__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include zero-margin-padding;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 288px;
  }
}

.product-card__price {
  @include zero-margin-padding;
}

.product-card__description,
.product-card__price {
  font-family: "Arial", sans-serif;

  @include font-size-line-height(14px, 14px);
  color: $text-grey;
}

.product-card__description {
  margin-right: 50px;
}

.product-card__button {
  flex-basis: 100%;

  @media (min-width: $desktop-width) {
    flex-basis: 244px;
  }
}
