.products {
  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }
}

.products__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  @include zero-style-list;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.products__item {
  position: relative;
  padding: 20px 20px 25px;
  border-top: 1px solid $border-special-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 141px;
    margin-right: 60px;
    padding: 0 36px 39px 36px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 144px;
    margin-right: 80px;
  }

  &:nth-child(2n) {
    @media (min-width: $tablet-width) {
      margin-right: 0;
    }

    @media (min-width: $desktop-width) {
      margin-right: 80px;
    }
  }

  &:nth-child(4n) {
    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }

  &:nth-last-child(1),
  &:nth-last-child(2) {
    @media (min-width: $tablet-width) {
      margin-bottom: 68px;
    }
  }

  &:nth-last-child(1),
  &:nth-last-child(2),
  &:nth-last-child(3),
  &:nth-last-child(4) {
    @media (min-width: $desktop-width) {
      margin-bottom: 75px;
    }
  }

  &:last-child {
    border-bottom: 1px solid $border-special-grey;
  }
}
