.products__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  @include zero-style-list;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.products__item {
  position: relative;
  padding: 20px 0 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 141px;
    margin-right: 60px;
    padding: 0 36px 39px 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 144px;
    margin-right: 80px;
  }

  &:nth-child(2n) {
    @media (min-width: $tablet-width) {
      margin-right: 0;
    }

    @media (min-width: $desktop-width) {
      margin-right: 80px;
    }
  }

  &:nth-child(4n) {
    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }

  &:nth-last-child(1),
  &:nth-last-child(2) {
    @media (min-width: $tablet-width) {
      margin-bottom: 68px;
    }
  }

  &:nth-last-child(1),
  &:nth-last-child(2),
  &:nth-last-child(3),
  &:nth-last-child(4) {
    @media (min-width: $desktop-width) {
      margin-bottom: 75px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -20px;
    min-width: 320px;
    width: 105%;
    height: 1px;
    background-color: $border-special-grey;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:last-child::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: -20px;
    min-width: 320px;
    width: 105%;
    height: 1px;
    background-color: $border-special-grey;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
