.page-inner {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  &--form {
    @media (min-width: $tablet-width) {
      padding-left: 70px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 0;
    }
  }
}

.page-inner__title {
  @include zero-margin-padding;
  padding: 27px 0 41px;

  @include font-size-line-height(36px, 36px);
  font-weight: 400;

  @media (min-width: $tablet-width) {
    padding: 64px 0 163px;

    @include font-size-line-height(60px, 60px);
  }

  @media (min-width: $desktop-width) {
    padding: 74px 0 84px;
  }
}

.page-inner__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
