.page-footer {
  padding-top: 39px;
  background-color: $background-grey;
}

.page-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

.page-footer__link-logo {
  display: inline-block;
}
