.social {
  padding: 22px 75px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include zero-style-list;
}
