.social {
  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include zero-style-list;
}

.social__item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}
