@import "global/normalize";
@import "global/font";
@import "global/variable";
@import "global/mixins";
@import "page";
@import "global/visually-hidden";
@import "page-header";
@import "logo";
@import "main-nav";
@import "button";
@import "index/page-main";
@import "index/select-program";
@import "index/des—Åription-catalog";
@import "index/work";
@import "index/example";
@import "index/slider";
@import "index/progress-line";
@import "index/map.scss";
@import "page-inner";
@import "catalog/products";
@import "catalog/card";
@import "catalog/additional-products";
@import "catalog/product-card";
@import "catalog/surprice";
@import "form/selection-program";
@import "form/form.scss";
@import "page-footer";
@import "logo-link";
@import "social";
@import "developer";
