.desсription-catalog {
  margin-bottom: 27px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 71px;
    padding: 0;
  }
}

.desсription-catalog__list {
  @include zero-style-list;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.desсription-catalog__item {
  &:first-child {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
  padding: 30px 20px 20px;

  background-color: $background-grey;

  @media (min-width: $tablet-width) {
    padding: 77px 62px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    width: 467px;
    padding: 77px 51px 55px 52px;
  }
}

.desсription-catalog__title {
  position: relative;

  @include zero-margin-padding;
  margin-bottom: 30px;
  padding-left: 71px;

  @include font-size-line-height(24px, 37px);
  font-weight: initial;
  text-transform: uppercase;
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $basic-green;
  }

  &::after {
    position: absolute;
    content: "";
    top: -10px;
    left: 5px;
    z-index: 2;
    width: 36px;
    height: 50px;
    background: url("../img/cat-slim.svg") no-repeat;
    background-size: cover;
  }
}

.desсription-catalog__text {
  @include zero-margin-padding;
  margin-bottom: 38px;

  font-family: "Arial", sans-serif;

  @include font-size-line-height(14px, 18px);
  color: $text-grey;

  @media (min-width: $tablet-width) {
    width: 340px;
  }
}

.desсription-catalog__link {
  text-decoration: none;
  text-transform: uppercase;
  color: initial;
}
