.map {
  &--index {
    background-color: $basik-light;
  }

  &--inner {
    background-color: $background-grey;
  }
}

.map__cooperation {
  margin-bottom: 26px;
  padding: 28px 0 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 62px 72px 52px 71px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 1220px;
  }
}

.map__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: calc(200px - 201px / 2);
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 570px;
    height: 201px;
    padding: 0;
    background-color: $basik-light;
  }
}

.map__title {
  max-width: 170px;

  @include zero-margin-padding;
  @include font-size-line-height(16px, 20px);
  font-weight: initial;
  text-transform: uppercase;
  color: $second-dark;
}

.map__description {
  max-width: 160px;

  @include zero-margin-padding;
  font-family: "Arial", sans-serif;

  @include font-size-line-height(14px, 20px);
  color: $text-grey;
}

.map__visually {
  min-width: 320px;
  height: 362px;
  background: $background-grey url("../img/location@320.png") no-repeat 0 0/100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
