.select-program {
  text-align: center;
}

.select-program__wrapper {
  height: 302px;
  background: linear-gradient(to top, $background-green, $background-green), url("../img/background@1044.jpg") no-repeat 65%/163%;

  color: $basik-light;
}

.select-program__title {
  margin: 0;

  @include font-size-line-height(36px, 36px);
  font-weight: 400;
}

.select-program__slogan {
  margin: 0;

  @include font-size-line-height(14px, 14px);
}

.select-program__button {
  display: block;

  @include font-size-line-height(14px, 18px);

  text-decoration: none;
  color: $basik-light;
  background-color: $basic-green;
}
