.slider__list {
  @include zero-style-list;
  text-align: center;
}

.slider__toggle {
  line-height: 20px;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.slider__image {
  margin-left: -20px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}
