.slider__list {
  position: relative;

  @include zero-style-list;
  margin-bottom: 33px;
  text-align: center;

  @media (min-width: $tablet-width) {
    height: 520px;
    width: 708px;
    margin: 0 auto 15px;
  }
}

.slider__item {
  @media (min-width: $tablet-width) {
    &--before {
      margin-top: -200px;
    }
  }
}

.slider__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__toggle {
  position: relative;

  @include zero-style-list;
  line-height: 20px;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    @include font-size-line-height(20px, 30px);

    &::after {
      position: absolute;
      content: "";
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 1px;
      border-bottom: 1px dotted $basic-dark;
      opacity: 0.4;
    }

    &:hover,
    &:focus {
      &::after {
        border-bottom: 1px solid $basic-dark;
        opacity: 0.4;
      }
    }

    &:active {
      &::after {
        display: none;
      }
    }
  }

  &:nth-child(1) {
    margin-right: 12px;

    @media (min-width: $tablet-width) {
      margin-right: 24px;
    }
  }

  &:nth-child(2) {
    order: 3;
  }
}

.slider__image {
  width: 311px;
  height: 232px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    margin: 0 auto;
    width: 708px;
    height: 518px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
  }

  &--before {
    @media (min-width: $tablet-width) {
      clip: rect(auto, 355px, auto, auto);
    }
  }

  &--after {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      left: 35px;
      clip: rect(auto, auto, auto, 316px);
    }
  }
}
