.slider__list {
  @include zero-style-list;
  margin-bottom: 33px;
  text-align: center;
}

.slider__item {
  &--after {
    display: none;
  }
}

.slider__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__toggle {
  @include zero-style-list;
  line-height: 20px;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &:nth-child(1) {
    margin-right: 12px;
  }

  &:nth-child(2) {
    order: 3;
  }
}

.slider__image {
  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}
